<% layout('layouts/app') %>
<h1>Details Place</h1>
<a href="/places">All Places</a>
<a href="/places/<%= place.id %>/edit/">Edit Place</a>

<ul class="my-3">
  <li><h2><%= place.title %></h2></li>
  <li>
    <img class="img-place" src="<%= place.image %>" alt="<%= place.title %>" />
  </li>
  <li><%= place.description %></li>
  <li><%= place.location %></li>
  <li><%= place.price %></li>
</ul>
<form action="/places/<%= place._id %>?_method=DELETE" method="post">
  <button type="submit">Delete</button>
</form>
