<% layout('layouts/app') %> <%- include('../layouts/components/thumbnailPlace')
%>
<div class="container mt-5 mb-5">
  <div class="row pt-5 pb-3">
    <%- include('../layouts/components/detailsContainer') %> <%-
    include('../layouts/components/mapContainer') %>
  </div>

  <!-- Jika Tidak ada User -->
  <% if(!currentUser) { %>
  <div class="row mt-5 border-top pt-5">
    <div class="col-sm-12 col-md-12">
      <%- include('../layouts/components/reviews') %>
    </div>
  </div>
  <% } %>

  <!-- Jika Ada User -->
  <% if(currentUser) { %>
  <div class="row mt-5 border-top pt-5">
    <div class="col-sm-12 col-md-4">
      <%- include('../layouts/components/formReview') %>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <%- include('../layouts/components/reviews') %>
      </div>
    </div>
  </div>
  <% } %>
</div>
