<form
  action="/places/<%= place._id %>?_method=PUT"
  method="post"
  class="bg-light p-5 rounded validated-form"
  novalidate
>
  <div class="mb-3">
    <label for="title" class="form-label">Title Place</label>
    <input
      type="text"
      name="place[title]"
      id="title"
      value="<%= place.title %>"
      class="form-control"
      required
    />

    <div class="valid-feedback">
      Loooks good!
    </div>
    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="place[description]"
      style="height: 100px;"
      required
    >
<%= place.description %></textarea
    >
    <div class="valid-feedback">
      Loooks good!
    </div>
    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      name="place[location]"
      id="location"
      value="<%= place.location %>"
      class="form-control"
      required
    />
    <div class="valid-feedback">
      Loooks good!
    </div>
    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      name="place[price]"
      id="price"
      value="<%= place.price %>"
      class="form-control"
      required
    />
    <div class="valid-feedback">
      Loooks good!
    </div>
    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image Url</label>
    <input
      type="text"
      name="place[image]"
      id="image"
      value="<%= place.image %>"
      class="form-control"
      required
    />
    <div class="valid-feedback">
      Loooks good!
    </div>
    <div class="invalid-feedback">
      Please fill out this field.
    </div>
  </div>
  <button type="submit" class="btn btn-success">Edit Place</button>
</form>
