<% if(place.reviews.length > 0) { %>
<div class="row">
  <div class="d-flex justify-content-between">
    <h6 class="h5 mb-4 font-monospace text-uppercase text-underline">
      <u>All Reviews </u>
    </h6>
    <strong
      >Average Rating: <%= calculateAverageRating(place.reviews) %>⭐</strong
    >
  </div>
  <% for(const review of place.reviews) { %>
  <div class="col-md-4 col-sm-6 mb-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-bottom border-top">
        <div class="d-flex flex-column">
          <small class="">
            Rating : <% for(let i = 0; i < review.rating; i++) { %> ⭐ <% } %>
          </small>
          <small class="font-monospace">Review: <%= review.body %></small>
          <small class="font-monospace">
            By: <%= formatUsername(review.author.username) %>
          </small>
          <% if ( currentUser && review.author.equals(currentUser._id) ) { %>
          <form
            action="/places/<%= place._id %>/reviews/<%= review.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger btn-sm mt-2">Delete</button>
          </form>
          <% } %>
        </div>
      </li>
    </ul>
  </div>
  <% } %>
</div>
<% } else { %>
<div class="col-md-4 col-sm-6">
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-bottom border-top">
      <div class="d-flex flex-column">
        <small class="font-monospace">No Review...</small>
      </div>
    </li>
  </ul>
</div>
<% } %>
